<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="RootAppender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./logs/base.main.log"/>
        <param name="Append" value="true"/>
        <param name="MaxFileSize" value="50MB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{yyyy/MM/dd HH:mm:ss}] [%-5p] %c - %m%n"/>
        </layout>
    </appender>

    <root>
        <priority value="info"/>
        <appender-ref ref="RootAppender"/>
    </root>
</log4j:configuration>
